.half-width{
    width: 45%;
    float: left;
    padding: 5px;
    margin: 2%;
}
.special-color{
    color: rgb(160, 47, 6);
}
.click-button{
    text-decoration: none;
    background: linear-gradient( rgb(110, 87, 78), rgb(255, 38, 0));
    padding: 10px 40px;
    border-radius: 5px;
    color: rgb(1, 164, 240);
    font-weight: 900;
}